{# src/AD/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "ADCoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Bienvenue sur notre site !</h2>

  <img src="{{ asset('bundles/adcore/images/animation.gif') }}" alt="massassa" style="width:512px; height:256px;" />
  
  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

 
{% endblock %}
