{# src/AD/PresaisonBundle/Resources/views/Association/index.html.twig #}

{% extends "ADCoreBundle::menudroite_association.html.twig" %}

{% block title %}
  Qui sommes-nous ?
 {% endblock %}

{% block body %}

  <h2>Qui sommes-nous ?</h2>
  <p>
  L'association Massassa (Association Loi 1901) propose des cours de danse, stages et
  soirées dansantes à Orléans et environs
  </p>
  <p>
  Le plaisir est notre mot d'ordre pour découvrir toute sorte de danses dans une ambiance chaleureuse. 
  Peu importe votre age et votre niveau, au sein de notre association, les cours sont adaptés pour que tout le monde puisse s'amuser et progresser à son rythme. 
  </p>
  <p>
  Tous nos cours de danses sont dispensés par des professeurs dynamiques et qualifiés.
  Lors de ces cours, nous visons à favoriser le plaisir, à la performance. 
  </p>
  <p>
  En vous inscrivant à Massassa vous allez entrer dans la communauté des danseurs. 
  Une communauté dont les liens se construisent au fil des cours, des stages, des soirées, 
  des manifestations et plus si affinités… dans une ambiance ludique et détendue.
  C'est ça la force de Massassa Orléans ! 
  </p>
  
  
 
{% endblock %}
